<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Angular</title>

        <style type="text/css">
          h1{
              color: white;
              font-size: 35px;
              font-family: 'Trebuchet MS', Palatino, sans-serif;
              display: inline;
          }
          .angular-logo {
            max-width: 9.2rem;
          }
      </style> 

    </head>
    <body>
      <div style="background-color: red; padding: 13px;">
        <h1> Framework de Desenvolvimento Web - Angular</h1>
      </div>

      <div>
        <img src="/favicon.ico" style="margin: 10px; float: left;">
        <h2 style="padding: 20px; font-family: 'Trebuchet MS', Palatino, sans-serif;">Caracteristicas</h2>
      </div>
      
      <p style="margin: 5px 20px; font-family: 'Trebuchet MS', Palatino, sans-serif; font: 20px;">
        - Código aberto desenvolvido pelo Google para a criação de aplicativos dinâmicos e interativos da web.<br><br>
        - Vantagens: Combinação de Dados Bidirecional, Diretivas, Estrutura do Código, Compatibilidade.<br><br>
        - Beneficios: Templates prontos de códigos, Documentação extensa, Testes, Compatibilidade
      </p>
    </body>
</html>

<router-outlet />
